
.main-food-container {
    position: absolute;
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.849);
    top: 150px;
    left: 10px;
    overflow: hidden;
    z-index: 10;
    border: 10px solid #ffb508;
}

.food-modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.137);
    z-index: 100;
    overflow: hidden;
    padding: 5px;
}

.bg-image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.food-modal-content-data {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
}

.food-modal-content-data span {
    font-size: small;
}

.food-modal-content {
    height: 100%;
}

/* poster */

.content-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.content-img>img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #ffb508;
}

/* ing */

.content-ing {
    width: 30%;
    padding: 5px 20px;
    
}

.ing-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.ing-title>h3 {
    font-size: 1rem;
    font-weight: bolder;
    color: #ffb508;
    background-color: rgba(43, 37, 37, 0.376);
    padding: 10px;
}

.ing-data {
    background-color: rgba(43, 37, 37, 0.376);
    padding: 10px;
}

/* nut */

.content-nut {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-nut>h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: #ffb508;
    background-color: rgba(43, 37, 37, 0.376);
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

.nut-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(43, 37, 37, 0.376);
    padding: 10px;
}

.nut-data-container>h3 {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #ffb508;
    padding: 10px;
    background-color: rgba(43, 40, 37, 0.376);
    width: fit-content;
}

.nut-data-list {
    width: 40%;
}

.nut-data-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

.nut-data-item:nth-child(even) {
    color: orange;
}

/* RESPONSIVE */

@media only screen and (max-width: 1620px) {

    .food-modal-content-data span {
        font-size: small;
    }
}


@media only screen and (max-width: 1440px) {

    .food-modal-content-data span {
        font-size: x-small;
    }

    .content-nut {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 1300px) {

    .bg-image {
        height: 100%;
    }
}

@media only screen and (max-width: 950px) {

    .main-food-container {
        top: 100px;
    }

    .food-modal-content-data {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .food-modal-content {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {

    .nut-data {
        justify-content: center;
        padding: 2px;
    }
    
    .nut-data-container>h3 {
        font-size: 0.8rem;
        padding: 5px;
        width: fit-content;
    }
    
    .nut-data-list {
        width: 45%;
        margin: 2px;
    }

    .content-nut>h1 {
        font-size: 1.5rem;
    }    
}