
.Header {
    z-index: 50;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  white;
    color: #7aca25;
    font-weight: bolder;
    z-index: 50;
}

.logReg-link {
    color: #7aca25!important;
}

.brand-logo {
    color: #7aca25!important;
}

nav ul {
    position: absolute;
    top: 0;
    right: 0;
}