
.home-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    text-align: center;
    padding: 0 10%;
    color: white;
}

.margin-top {
    margin-top: 150px;
}

.orange-c {
    color: orange;
}

.green-c {
    color: greenyellow;
}

.black-c {
    color: black;
}

/* RESPONSIVE */

@media only screen and (max-width: 1620px) {

    .home-container {
        padding: 0px!important;
    }

    .home-content {
        width: 100%;
    }

}