
.SearchFilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.searchFilter-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.search-input {
    max-width: 250px;
    margin: 0 10px;
}

::placeholder {
    color: #fd9721;
    opacity: 1; 
    font-weight: bolder;
}

:-ms-input-placeholder { 
    color:  #fd9721;
    font-weight: bolder;
}

::-ms-input-placeholder {
    color:  #fd9721;
    font-weight: bolder;
}

input {
    color:#7aca25;
    font-weight: bolder;
    font-size: 20px;
}

.btn {
    margin: 0 10px;
}

/* FILTER */

.forms-container {
    background-color: #383d3380;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    visibility: hidden;
}

.swing-in-top-fwd {
    visibility: visible;
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

  .swing-out-top-bck {
    visibility: visible;
	-webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

@-webkit-keyframes swing-out-top-bck {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  @keyframes swing-out-top-bck {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  

.forms-container p {
    padding: 0px;
    margin: 0;
    width: 100%!important;
}

.forms-contents {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 10px;

    
}

.forms-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}

.forms-content span {
    color: black;
}

.calories-element {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calories-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 110px;
}

.calories-form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 5px;
    font-weight: bold;
    font-size: 1rem;
}

.calories-input {
    width: 50px!important;
    text-align: center;
}

.form-chbox {
    padding: 0 10px;
}

.filter-form {
    min-width: 130px;
}

.filter-form p {
    padding: 0!important;
    text-align: start;
}